# Entorno de la aplicación (development / production)
APP_ENV=development

# Configuración del servidor Backend Go
PORT=8080

# Configuración de PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=sinapsa_db
DB_SSLMODE=disable

# Configuración del Frontend React
VITE_BACKEND_URL=http://localhost:8080
